modules/OEA_core/pipeline/Clever_land_in_s1.json
{
	"name": "Clever_land_in_s1",
	"properties": {
		"description": "Lands data from Clever into the inbound folder in stage1, under a folder with the execution datetime.",
		"activities": [
			{
				"name": "copy Clever data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set exec_date_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "stage1/clever",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "data_lake_csv",
						"type": "DatasetReference",
						"parameters": {
							"filesystem": "test-env",
							"directory": "stage1/Clever"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "data_lake_csv",
						"type": "DatasetReference",
						"parameters": {
							"filesystem": "stage1",
							"directory": {
								"value": "Clever/inbound/@{variables('exec_date_time')}",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "set exec_date_time",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "exec_date_time",
					"value": {
						"value": "@{formatDateTime(convertTimeZone(utcnow(), 'UTC', 'Eastern Standard Time'), 'yyyy-MM-ddTHHmm_ss')}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"exec_date_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "1) Land in s1"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-15T13:43:17Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}