modules/OEA_core/pipeline/Move_files_add_timestamp.json
{
	"name": "Move_files_add_timestamp",
	"properties": {
		"description": "Moves files from specified source to destination, adding a folder with the current datetime to the destination path.",
		"activities": [
			{
				"name": "move_files",
				"description": "Moves files from the specified source container and path to the destination container and path.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.source_path",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false,
					"preserve": [
						"ACL",
						"Owner",
						"Group",
						"Attributes"
					],
					"skipErrorFile": {
						"fileMissing": false,
						"fileForbidden": false,
						"invalidFileName": false
					}
				},
				"inputs": [
					{
						"referenceName": "data_lake_binary",
						"type": "DatasetReference",
						"parameters": {
							"filesystem": {
								"value": "@pipeline().parameters.source_filesystem",
								"type": "Expression"
							},
							"directory": "not_applicable"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "data_lake_binary",
						"type": "DatasetReference",
						"parameters": {
							"filesystem": {
								"value": "@pipeline().parameters.destination_filesystem",
								"type": "Expression"
							},
							"directory": {
								"value": "@{pipeline().parameters.destination_path}/@{variables('exec_date_time')}",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "exec_date_time",
					"value": {
						"value": "@{formatDateTime(convertTimeZone(utcnow(), 'UTC', 'Eastern Standard Time'), 'yyyy-MM-ddTHHmm_ss')}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"source_filesystem": {
				"type": "string"
			},
			"source_path": {
				"type": "string"
			},
			"destination_filesystem": {
				"type": "string"
			},
			"destination_path": {
				"type": "string"
			}
		},
		"variables": {
			"exec_date_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Utils"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-14T23:12:08Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}